@import '../../theme.scss';

.input-content{
  //content del input
  position: relative;
  width: 25rem;
  margin: 2rem auto;

  @media screen and (max-width: $ipad){
    margin-left: 10rem;
  }

  @media screen and (max-width: $mobile){
    width: 20rem;
  }

  .input-icon{
    //icono del input
    
    position: absolute;
    top: 0.7rem;
    left: 0.9rem;
    font-size: 1.3em;
  }
  .input{
    //input
    width: 25rem;
    height: 2.5rem;
    padding-left: 3rem;
    border-radius: 60px;
    border: 1px solid $pallete3;
    background-color: $pallete3;
    box-shadow: 0px 0px 30px 0px $pallete3;
    color: $pallete1;

    &::-webkit-input-placeholder { 
      color: $pallete1; 
    }

    @media screen and (max-width: $mobile){
      width: 15rem;
    }
  }
}