@import '../../theme.scss';

.content-option-home{
  color: $pallete1;
  margin-left: 2.5rem;
  width: 100vw;

  
  .carousel-wrapper{
    margin-top: 1.5rem;
        
    .title-option-home{
      font-size: 1.2em;
       font-weight: bold;
    }

    .carousel{
      display: flex;
      width: 100%;
      margin-left: 0.5rem;
    }
  }
}