@import '../../theme.scss';

.playlists{
    //Titulo
    font-size: 1em;
    font-weight: bold;

    @media screen and (max-width: $mobile){
        //font-size: 0.8em;
        display: none;
    }
}
.playlists-div-item{
    //las playlists
    margin-top: 0.5rem;

    .playlists-item{
        //Cada playlist
        margin-top: 1rem;
        cursor: pointer;

        &:hover{
            color: white;
        }

        @media screen and (max-width: $mobile){
            display: none;
        }
    }
}