.items{
    font-weight: bold;
    display: flex;
    padding: 1rem 0 1rem 1rem;
    margin-left: -1.5rem;
    cursor: pointer;

    &:hover{
        background-color: rgb(192, 129, 157);
    }
    .items-icon{
        margin-right: 1rem;
        font-size: 1.3rem;
    }
    .items-name{
        font-size: 1em;
    }
}