@import '../../theme.scss';

.items{
    //Content de los items del home
    font-weight: bold;
    display: flex;
    padding: 1rem 0 1rem 1rem;
    margin-left: -1.5rem;
    cursor: pointer;

    &:hover{
        background-color: rgb(192, 129, 157);
    }

    @media screen and (max-width: $mobile){
        margin-left: -0.5rem;
        flex-direction: column;
        padding-right: 1rem;
    }

    .items-icon{
        //los iconos
        margin-right: 1rem;
        font-size: 1.3rem;

        @media screen and (max-width: $mobile){
            font-size: 1em;
            text-align: center;
            margin-bottom: 0.5rem;
            margin-right: 0;
        }
    }
    .items-name{
        //los nombres
        font-size: 1em;

        @media screen and (max-width: $mobile){
            font-size: 0.8em;
        }
    }
}

.items-content-name{
    //Items de your library
    margin-right: 2.5rem;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
    border-radius: 5px;

    &:hover{
        background-color: $pallete3;
    }

    @media screen and (max-width: $ipad){
        margin-right: 1rem;
    }
    @media screen and (max-width: $mobile){
        margin-right: 0;
        font-size: 0.8em;
        padding: 0.5rem;
    }
}

