@import '../../theme.scss';

.listening-content{
  //Content del listening
  width: 100%;
  background-color: rgba(63, 3, 30, 0.866);
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
}