@import '../../theme.scss';

.songListening-content{
  //content info traida del track seleccionado
  color: $pallete1;
  margin-top: 0.5rem;

  .songListening-name{
    //nombre del track
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .songListening-artist{
    //nombre del artista
    font-size: 1em;
    display: inline;
    margin-right: 0.5rem;
  }
  .songListening-episode{
    //nombre del episodio
    font-size: 1.2em;
    font-weight: bold;
  }
}