@import '../../theme.scss';

.playlist-content{
  //Content de las playlists
  width: 50rem;
  margin: 2rem auto;
  color: $pallete1;
  margin-bottom: 5rem;

  @media screen and (max-width: $ipad){
    width: 33rem;
  }

  @media screen and (max-width: $mobile){
    margin: 1rem 0 5rem 0;
    width: 100%;
  }

  .playlist-info{
    //Content imagen, nombre del artista y del album
    display: flex;
    margin: -2rem 0 1.5rem 0;
    background-color: $pallete3;
    box-shadow: 5px 5px 15px 15px $pallete3;
    padding: 0.5rem;

    @media screen and (max-width: $mobile){
      margin-top: 0.5rem;
    }

      .playlist-img{
        //Todas las imágenes
        border-radius: 5px;
      }

    .playlist-img-computer{
      //Imagen computadora

      width: 12rem;
      height: 12rem;
      object-fit: cover;

      @media screen and (max-width: $ipadpro){
        width: 10rem;
        height: 10rem;
      }
      @media screen and (max-width: $ipad){
        display: none;
      }
    }
    .playlist-img-ipad{
      //Imagen ipad

      display: none;
      width: 10rem;
      height: 10rem;
      object-fit: cover;

      @media screen and (max-width: $ipad){
        display: block;
      }
      @media screen and (max-width: $mobile){
        display: none;
      }
    }
    .playlist-img-mobile{
      //Imagen mobile

      display: none;
      width: 6rem;
      height: 6rem;
      object-fit: cover;

      @media screen and (max-width: $mobile){
        display: block;
      }
    }

    .playlist-info-text{
      //Artista y/o album content
      margin: 3rem 0 0 1rem;

      .playlist-text-album{
        //Album
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      .playlist-text-artist{
        //Artist
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      .playlist-text-quantity{
        //Cantidad de tracks
        font-size: 1em;
      }
    }
  }
}