@import '../../theme.scss';

.navbar{
    //Wrapper navbar
    color: $pallete1;
    height: 100%;
    width: 14rem;
    background-color: rgba(63, 3, 30, 0.699);
    padding: 2rem 0 0 1.5rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    
    @media screen and (max-width: $ipadpro){
        width: 13rem;
    }
    @media screen and (max-width: $ipad){
        width: 12rem;
    }
    @media screen and (max-width: $mobile){
        height: 2rem;
        width: 100%;
        bottom: 0;
        display: block;
        background-color: rgba(63, 3, 30, 1);
        
    }

    .items-content{
        //Content de los items (home, search y your library)
        margin: 2.5rem 0 2.5rem 0;

        @media screen and (max-width: $mobile){
            display: flex;
            justify-content: space-around;
            margin: -2rem 0 0 -2.5rem;
        }
    }
 
}