@import '../../theme.scss';

.carousel-content{
  //Content de cada carousel
  margin: 1rem 0 1rem 0.5rem;
  border: 1px solid $pallete2;
  background-color: $pallete2;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 0px $pallete3;
  width: 12rem;
  height: 20rem;

  &:hover{
    background-color:$pallete3;
  }

  @media screen and (max-width: $ipadpro){
    width: 10rem;
    height: 18rem;
  }
  @media screen and (max-width: $mobile){
    width: 6rem;
    height: 8rem;
  }

  .carousel-img{
    //Todas las imágenes
    border-radius: 5px;
  }
  .carousel-img-computer{
    //Imágenes en computadora
    width: 12rem;
    height: 12rem;
    object-fit: cover;

    @media screen and (max-width: $ipadpro){
      width: 10rem;
      height: 10rem;
    }
    @media screen and (max-width: $ipad){
      display: none;
    }
  }
  .carousel-img-ipad{
    //Imágenes en ipad
    display: none;
    width: 10rem;
    height: 10rem;
    object-fit: cover;

    @media screen and (max-width: $ipad){
      display: block;
    }
    @media screen and (max-width: $mobile){
      display: none;
    }
  }
  .carousel-img-mobile{
    //Imágenes en mobile
    display: none;
    width: 6rem;
    height: 6rem;
    object-fit: cover;

    @media screen and (max-width: $mobile){
      display: block;
    }
  }
  .carousel-text{
    //Todo el texto
    text-align: center;
    margin-top: 0.5rem;

    @media screen and (max-width: $mobile){
      width: 6rem;
    }
    
    .carousel-artist{
      //Artistas
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 0.5rem;
      letter-spacing: 0.3px;

      @media screen and (max-width: $mobile){
        font-size: 0.9em;
        letter-spacing: 0.1px;
      }
    }
    .carousel-album{
      //Album
      font-size: 1em;

      @media screen and (max-width: $mobile){
        display: none;
      }
    }
  }
}